<div class="body">
  <h1 class="m-title-one">Welcome to</h1>
  <h1 class="m-title-two">Two Cents</h1>
  <h3 class="m-title-three">Make Polls, cast your vote and have fun with it</h3>
  <img src="../../assets/images/coins-large.png" alt="">

</div>
<div class="body-two">
  <div  class="body-info">
    <i class="fas fa-vote-yea fa-6x"></i>
    <h2>Add options to your poll for voting</h2>
  </div>
  <div class="body-info">
    <i class="fas fa-question fa-6x"></i>
    <h2>Ask a question and get votes</h2>
  </div>
  <div class="body-info">
    <i class="fas fa-user-friends fa-6x"></i>
    <h2>You can vote on other users polls</h2>
  </div>
  <div class="body-info info-one">
    <i class="fas fa-user fa-6x"></i>
    <h2>Login and save your polls and votes</h2>
  </div>
  <div class="body-info info-two">
    <i class="fas fa-poll fa-6x"></i>
    <h2>View results in doughnut chart format</h2>
  </div>
  <div class="canvas">
    <canvas baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
       [chartType]="doughnutChartType"
       [colors]="doughnutChartColor">
    </canvas>
  </div>
</div>
