<div class="container">
    <div @fade class="success"><h3 class="success-title">Welcome, back</h3></div>
    <a href="">
        <div class="options">
            <h2 class="title">Create Poll</h2>
        </div>
    </a>
    <a href="">
        <div class="options">
            <h2 class="title">Take a poll</h2>
        </div>
    </a>
    <a href="">
        <div class="options">
            <h2 class="title">View all polls</h2>
        </div>
    </a>
    <a href="">
        <div class="options">
            <h2 class="title">My polls</h2>
        </div>
    </a>
</div>