<div class="container">
    <div class="success"><h3 class="success-title">Welcome, back</h3></div>
    <a routerLink="createPoll">
        <div class="options">
            <h2 class="title">Create Poll</h2>
        </div>
    </a>
    <a routerLink="results">
        <div class="options">
            <h2 class="title">Results</h2>
        </div>
    </a>
    <a routerLink="allPolls">
        <div class="options">
            <h2 class="title">Take a poll</h2>
        </div>
    </a>
    <a routerLink="myPolls">
        <div class="options">
            <h2 class="title">My polls</h2>
        </div>
    </a>
</div>