
.container {
    height: 66%;
    width: 100%;
    text-align: center;
}

.success {
    height: 75px;
    width: 300px;
    background-color: green;
    box-shadow: 10px 10px 8px #888888;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 1500px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.success-title {
    padding-top: 26px;
}

.options {
    height: 200px;
    width: 340px;
    background-color: gainsboro;
    display: inline-block;
    border-radius: 10px;
    margin: 20px;
    margin-top: 170px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 10px 10px 8px #888888;
}

.title {
    margin-top: 83px;
}