<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script src="node_modules/chart.js/src/chart.js"></script>
  <title>Two Cents</title>
</head>
<body>
    <div class="container">
      <div class="header">
        <a routerLink="home"><h3 class="title">Two Cents</h3></a>
        <div class="h-img"></div>
        <button routerLink="dashboard/{{token}}" class="dashboard-btn" *ngIf="logged_in"><p class="h-opt">Dashboard</p></button>
        <a routerLink="login"><p class="h-opt">Login</p></a>
        <a routerLink="register"><p class="h-opt">Sign-up</p></a>
        <button class="logout-btn" *ngIf="logged_in" (click)="logout()"><p class="h-opt">Logout</p></button>
      </div>
      <router-outlet></router-outlet>
      <div class="footer">
        <div class="f-one">
          <h3>Navigation</h3>
          <a class="f-links" routerLink="home" >home</a>
          <a class="f-links" routerLink="polls">Polls</a>
          <a class="f-links" routerLink="login">Login</a>
        </div>
        <div class="f-one">
          <h3>About</h3>
          <p class="f-links-two">Two Cents is a leisurely voting app, where users can create polls and also vote on other polls.</p>
          <p>It is built with MongoDB, Express, Angular, NodeJS (MEAN stack application) </p>
        </div>
        <div class="f-one">
          <h3>Created by</h3>
          <p class="f-links-three">Michael Kirkaldy</p>
        </div>
      </div>
    </div>
</body>
</html>


