<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script src="node_modules/chart.js/src/chart.js"></script>
  <title>Two Cents</title>
</head>
<body>
    <div class="container">
      <div class="header">
        <h3 class="title">Two Cents</h3>
        <div class="h-img"></div>
        <a routerLink="login"><p class="h-opt">Login</p></a>
        <a routerLink="register"><p class="h-opt">Sign-up</p></a>
      </div>
      <router-outlet>
        <div class="body">
          <h1 class="m-title-one">Welcome to</h1>
          <h1 class="m-title-two">Two Cents</h1>
          <h3>Make Polls, cast your vote and have fun with it</h3>
          <div class="img"></div>
        </div>
        <div class="body-two">
          <div  class="body-info">
            <i class="fas fa-vote-yea fa-6x"></i>
            <h2>Add options to your poll for voting</h2>
          </div>
          <div class="body-info">
            <i class="fas fa-question fa-6x"></i>
            <h2>Ask a question and get votes</h2>
          </div>
          <div class="body-info">
            <i class="fas fa-user-friends fa-6x"></i>
            <h2>You can vote on other users polls</h2>
          </div>
          <div class="body-info info-one">
            <i class="fas fa-user fa-6x"></i>
            <h2>Login and save your polls and votes</h2>
          </div>
          <div class="body-info info-two">
            <i class="fas fa-poll fa-6x"></i>
            <h2>View results in doughnut chart format</h2>
          </div>
          <div class="canvas">
            <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
               [chartType]="doughnutChartType"
               [colors]="doughnutChartColor">
            </canvas>
          </div>
        </div>
      </router-outlet>
      <div class="footer">
        <div class="f-one">
          <h3>Navigation</h3>
          <a class="f-links" >home</a>
          <a class="f-links">Polls</a>
          <a class="f-links" >Login</a>
        </div>
        <div class="f-one">
          <h3>About</h3>
          <p class="f-links-two">Two Cents is a leisurely voting app, where users can create polls and also vote on other polls.</p>
          <p>It is built with MongoDB, Express, Angular, NodeJS (MEAN stack application) </p>
        </div>
        <div class="f-one">
          <h3>Created by</h3>
          <p class="f-links-three">Michael Kirkaldy</p>
        </div>
      </div>
    </div>
</body>
</html>


